
.welcome-splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a2b3b;
    z-index: 9999;
}

.welcome-text {
    font-size: 3rem;
    color: #f0f0f0;
    font-weight: bold;
    text-align: center;

}